body{
    background-color: #EEEEEE;
}
.container-profile{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
}

.container-profile .form-group{
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: row;
    width:80%;
}

.profile-content{
    display: flex;
    justify-content: center;
    align-items: center;
    width:70%;
    height: auto;
    background-color: #FFFFFF;
    flex-direction: column;
}


@media (max-width: 960px){
    .container-profile .form-group{
        width:100%;
    }
}
