Aside{
    margin: 0;
    padding: 0;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: nowrap;
    font-family:arial;
}

.aside-profile{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.aside-hr{
    width: 50%;
    margin: 10px auto;
    padding: 0;
    height: 1px;
}


.aside-menu{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size:16px;
}
.aside-profile-menu, .aside-don-mua{
    display:flex;
    justify-content: flex-start;
    align-items: center;
    width:50%;
}

.aside-profile-menu img,
.aside-don-mua img{
    margin-right:20px;
}

.aside-menu .submenu{
    margin:10px 0;
    display:flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    margin-left:20%;
}

.submenu a{
    text-decoration: none;
    color: black;
}
.submenu a:hover{
    text-decoration: underline;
}
