@font-face{
    font-family:"MuseonModeno";
    src: url("../../src/font/MuseoModerno-Bold.ttf");
}

/*Banners*/
.banner-brand{
    padding:0;
    margin:0;
    display:flex;
    justify-content: space-around;
    align-items: center;
}

.title{
    font-weight: bold;
    font-family: "Helvetica Neue",Helvetica,Arial;
    text-shadow:0 2px 4px #0158AF;
}

.individual{
    display: flex;
}
.love-list,.backet{
    padding:10px 0;
    margin:10px;
}
.love-list a,
.backet a{
    color:black;
}
svg{
    width: 20px;
    height: 20px;
}
#account{
    width:auto;
    height:max-content;
    margin:10px 0;
    padding:10px 15px;
    border-radius:40px;
    background-color: #134B70;
}
#account .signIn,.signUp,.current{
    color:white;
    text-decoration: none;
    font-weight:bold;
    font-family:Arial,sans-serif;
}

.header{
    height: auto;
    text-align: center;
    display:flex;;
    flex-direction:column;
}

.intro-brand{
    display:flex;
    justify-content: space-around;
    flex-direction: row;
}
.thumbnail-brand{

    height:90px;
    margin-bottom:10px;
    margin-top:10px;
}
.title-brand{
    font-size:30px;
    font-weight:bold;
    font-family:MuseonModeno;
}
.title-brand a{
    text-decoration:none;
    color:black;
}

.image-brands{
}

#image-brand{
    width:45px;
}

/*taskbar*/
.taskbar{
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-weight:bold;
    font-family: "arial";
}

.taskbar-container{
    position: relative;
    background-color: #EEEEEE;
}

.sticky{
    position: fixed;
    width:100%;
    z-index:999;
    top:0;
}
.navbar{
    width: max-content;
}

.navbar ul{
    display:flex;
    flex-wrap: wrap;
    padding:0;
    margin:0;
}
.navbar ul li{
    list-style-type: none;
    display: inline-block;
    background-color: #508C9B;
    text-align: center;
    position:relative;
}
.navbar ul li a{
    display:block;
    color:white;
}
.navbar ul li a:link{
    width:150px;
    display: block;
    padding-top: 26px;
    padding-bottom: 26px;
    text-decoration: none;
    color:white;
}
.navbar ul li a:hover{
    background-color:#134B70;
    transform:scale(1);
    -webkit-box-shadow: 0 2px 4px #363636;
    -moz-box-shadow: 0 2px 4px #363636;
    box-shadow:0 2px 4px #363636;
}

ul.sub-navbar{
    position: absolute;
    display:none;
} 
ul.sub-navbar li{
    width: 200px;
    padding:5px;
}
ul.sub-navbar li a:link{
    width:100%;
}

.navbar ul li:hover .sub-navbar{
    display:block;
    z-index:1;
    box-shadow:0 2px 4px #363636;
}
@media (max-width:1060px){
    .navbar ul{
        justify-content: center;
    }
}
@media (max-width: 960px){
    .taskbar{
        height:max-content;
    }
    .navbar{
        height: auto;
    }
    .signIn{
        display: block;
        text-align: center;
    }
    .signUp{
        display:none;
    }
}