body{
    background-color: #EEEEEE;
    width:100%;
}

/*for body content*/

.container{
    display:flex;
    flex-direction: row;
    margin: 20px auto;

}

.ads{
    width:20%;
    margin:20px 10px 0 20px;
}

img.ads-img{
    width:100%;
    height:auto;
}

.main-container{
    height:auto;
    width: 60%;
}

.path{
    margin:10px 0 0 50px;
    padding:10px;
    width:max-content;
}
.path a{
    color:#A79277;
    text-decoration: none;
    font-size: 18px;
    transition: font-size .2s;
}
.path a:hover{
    color:#FF0000;
    font-size:22px;
}

#category{
    text-align:center;
    margin:10px 0 ;
}

#show-products{
    display:flex;
    flex-direction:row;
    justify-content: space-around;
    flex-wrap: wrap;
}
/*class product and their properties*/
.product{
    border-radius:10px;
    width:280px;
    height:400px;
    margin:20px;
    transition:width 0.5s,
    height 0.5s;
    transition-timing-function:ease-in-out;
    box-shadow:0 2px 4px #8B8B8B;
}
.product:hover{
    width:300px;
    height:420px;
    box-shadow:0 2px 4px #3E3E3E;
}
.product a{
    text-decoration:none;
    text-align:center;
}

.info ul {
    list-style-type: none;
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#A79277;
}

.thumbnail-product{
    width:100%;
    align-items:center;
border-radius:20px 20px 0 0;
}

#show-more{
    text-align:center;
    margin:0 0 10px 0;
}
#show-more a{
    text-decoration:none;
    font-size:20px;
}