ul.admin_list {
    list-style: none;
    padding: 0;
    margin:0;
}

ul.admin_list li {
    padding: 5px 0;
    border-bottom: 1px solid #EFEFEF;
    float: left;
    margin-left: 20px;
}

.clear {
    clear: both;
}

.warpper{
    width: 80%;
    margin: 0 auto;
    border: 1px solid #000000;
}