
.containner-ap{
    width: 100%;
    justify-content: center;
    align-items: center;
    height: auto;
    display: flex;
}
.containner-ap h1{
    text-align: center;
    font-size: 30px;
    color: #333;
    margin-top: 20px;
}
.containner-ap h1 img{
    width: 50px;
    height: auto;
}
.containner-ap form {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    background-color: aliceblue;
    border-radius: 20px;
    border: 1px solid #333;
}

.containner-ap .combobox {
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    border: 1px solid #333;
}
.containner-ap .combobox1{
    display: flex;
    width: 80%;
    border-radius: 20px;
    padding: 10px;
    margin: 10px;
    background-color: rgb(255, 255, 255);
    text-align: center;
    align-items: center;
    border:1px  solid #333;
}

.containner-ap .combobox1 select{
    border: none;
    outline: none;
    font-size: 16px;
    width: 50%;
    align-items: center;
    
}

.containner-ap input[type= text], input[type= number] {
    width: 80%;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;
}

.containner-ap textarea {
    width: 90%;
    padding: 10px;
    margin: 10px;
    border: none;
    background-color: rgb(255, 255, 255);
    outline: none;

}

.containner-ap button {
    width:70%;
    background-color: #fbd5ff; 
    border-radius: 20px;
    border: 1px solid #333;
    padding: 10px;
    margin: 20px;
}
