.oD-con{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.formOD{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    background-color: gainsboro;
}
.TieuDeOD{
    display: flex;
    width: 90%;
    justify-content: center;
    align-items: center;
}
.TDSP,.TDDG,.TDTT{
    width: 100%;
    text-align: left;
    font-size: 1.25vw;
}
.vachOD{
    width: 80%;
    color: white;
    border: 1px solid black;
}
.card-Header{
    width: 100%;
    text-align: left;
    padding: 10px;
    margin-left: 40px;
}
.card-content{
    display: flex;
    padding: 10px;
    width: 90%;
    margin:20px;
}
.imageItem{
    border-radius: 20px;
    margin: 0;
    padding: 0;
}
.NameSL{

}
.itemPrice {
    display: flex;
    justify-content: flex-end;
}
.col-1{
    width: 15%;
}
.col-2{
    width: 45%;
    margin: 20px;
    overflow: hidden;
    text-overflow: ellipsis;
}
.col-3{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.col-4{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.TongTienOD{
    display: flex;
    justify-content: flex-end;
    width: 90%;
    margin: 20px;
}
